{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
    {% block title %}
    {% endblock %}
</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="preloader">
        <div class="icon">

        </div>
    </div>
    {% include 'includes/header.html' %}
    {% if request.path != '/' %}
        <section class="page-banner" style="background-image:url({% static 'images/background/2.jpg' %});">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>
                        {% block name_page %}
                        {% endblock %}
                    </h1>
                </div>
            </div>
        </section>
        <main>
    {% endif %}
    {% block content %}
    {% endblock %}
    </main>
    {% include 'includes/footer.html' %}


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>