	{% load static %}
    <!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="text">Существует множество вариантов отрывков lorem ipsum, но большинство из них в той или иной форме подверглись изменениям в результате инъекций.</div>
						</div>
					</div>
					
					<!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<div class="widget-content">
								<div class="footer-title">
									<h2>Ссылки</h2>
								</div>
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list">
											<li><a href="{% url 'club:about' %}">О нас</a></li>
											<li><a href="#">Альбом</a></li>
											<li><a href="#">Связаться с нами</a></li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list">
											<li><a href="#">Help & Support</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
										</ul>
									</div>
								</div>
							</div>	
						</div>
					</div>
					
					<!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget newsletter-widget">
							<div class="footer-title">
                            	<h2>Получать рассылку</h2>
                            </div>
							<div class="text">Подпишитесь на нас, чтобы получать последние новости и обновления</div>
							<div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="form-group clearfix">
                                        <input type="email" name="email" value="" placeholder="Email address" required>
                                        <button type="submit" class="theme-btn newsletter-btn"><span class="fas fa-envelope"></span></button>
                                    </div>
                                </form>
                            </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<!--Scroll to top-->
				<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
				<!--Scroll to top-->
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">&copy; Copyrights, 2024 All Rights Reserved</div>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<ul class="social-icons">
							<li><a href="#"><span class="fab fa-twitter"></span></a></li>
							<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
							<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
							<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</footer>